<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="lead">Welcome to my simple portfolio space</p>
            <p class="lead">Here you can find a few thing about me including my projects, resume and blog.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        </div>
    </div>
</section>