<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <ul class="list-inline">
            <li><a href="https://github.com/iphayao" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a></li>
            <li><a href="https://twitter.com/iphayao" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a></li>
            <li><a href="https://www.facebook.com/iphayao" target="_blank"><i class="fa fa-facebook-square fa-fw fa-3x"></i></a></li>
            <li><a href="https://medium.com/@phayao" target="_blank"><i class="fa fa-medium fa-fw fa-3x"></i></a></li>
            <li><a href="https://th.linkedin.com/in/phayao" target="_blank"><i class="fa fa-linkedin-square fa-fw fa-3x"></i></a></li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; 2018 Phayao Boonon</p>
        </div>
        </div>
    </div>
</footer>