<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
        <a href="#top">Phayao Boonon</a>
    </li>
    <li><a href="#top">Home</a></li>
    <li><a href="https://medium.com/@phayao" target="_blank">Developer Blog</a></li>
    <li><a href="https://docs.google.com/document/d/1uMPczc0_uBC3EOeGlL0ojjzrOoqZ6vQvXdenbPVRPnc/edit?usp=sharing" target="_blank">Resume</a></li>
    <li><a href="https://github.com/iphayao" target="_blank">Project</a></li>
    </ul>
</nav>